MAIL_ADDRESS=
MAIL_PASSWORD=
MAIL_FROM_NAME=Commission Web FPMs
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=true
SMTP_USE_SSL=false
FRONTEND_BASE_URL=https://carte-test.fede.fpms.ac.be
SECRET_KEY=change-me
REMEMBER_COOKIE_DAYS=30
PASSWORD_RESET_TOKEN_MAX_AGE=3600
