---
import Layout from "@layouts/Layout.astro";
import AppCartes from "@components/app/AppCartes";
---
<Layout title="Mes cartes">
  <div class="min-h-screen bg-gradient-to-br from-slate-100 via-sky-50 to-blue-100">
    <AppCartes client:load />
  </div>
</Layout>
